<a class="btn" asp-controller="Operations" asp-action="SeeBalance">My balance</a>
<a class="btn" asp-controller="Operations" asp-action="Withdraw">Withdraw funds</a>
<a class="btn" asp-controller="AccountController" asp-action="LogOff">Exit</a>