<form method="get" asp-controller="Operations" asp-action="SeeBalance">
    <button type="submit" class="btn">My balance</button>
</form>
<form method="get" asp-controller="Operations" asp-action="Withdraw">
    <button type="submit" class="btn">Withdraw funds</button>
</form>
<form method="post" asp-controller="Account" asp-action="LogOff">
    <button type="submit" class="btn">Exit</button>
</form>