@model WithdrawReportViewModel

<p>Withdraw completed successfully</p>
<p>Your card number: @Model.CardNumber</p>
<p>Time of withdrawal: @Model.DateTime</p>
<p>Withdrawed amount: @Model.Amount</p>
<p>Your current balance: @Model.Rest</p>