@model CardNumberViewModel

<p>Enter your card number</p>
<form method="post" asp-controller="Account" asp-action="EnterCardNumber">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-froup">
        <label asp-for="CardNumber"></label>
        <input id="card-number" asp-for="CardNumber" inputmode="numeric" onkeydown="return false" />
        <button type="submit" id="submit">OK</button>
    </div>
</form>

<button id="clear">Clear</button>

<table id="number-buttons">
    <tbody>
        <tr>
            <td><button>7</button></td>
            <td><button>8</button></td>
            <td><button>9</button></td>
        </tr>
        <tr>
            <td><button>4</button></td>
            <td><button>5</button></td>
            <td><button>6</button></td>
        </tr>
        <tr>
            <td><button>1</button></td>
            <td><button>2</button></td>
            <td><button>3</button></td>
        </tr>
        <tr>
            <td width="33%"></td>
            <td><button>0</button></td>
            <td width="33%"></td>
        </tr>
    </tbody>
</table>



<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="~/js/enterCardScript.js"></script>